@tailwind base;
@tailwind components;
@tailwind utilities;

.ace_scrollbar {
    display: none !important;
}

.ace_content {
    width: 100% !important;
    top: 12px !important;
    left: 12px !important;
}

.ace_scroller {
    width: 100% !important;
}